.container {
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  z-index: -10;

  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1554386690-cc2d52c7f3d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1222&q=80");
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center;

}


.homePageDescription{
  /* color: rgb(206, 237, 126); */
  color: rgb(229, 229, 229);
  font-size: 20px;
  font-family: 'Roboto Slab';
  font-weight: normal;

  text-align: center;
}



.contentContainer{

  background-color: rgba(22, 22, 22, 0.5);
  width: 550px;
  padding: 10px;
  border-radius: 20px;
  /* height: 200px; */

  position: absolute;
  right: 5%;
  top: 40%;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.4s;
  

}


.logo{
  position: absolute;
  left: 5%;
  top: 5%;

  color: rgb(246, 189, 2);
  font-size: 40px;
  font-weight: normal;
  font-family: 'Roboto Slab';

  transition: 1s;
}


.contentContainer h3{
  padding: 10px;
  width: 30%;
  border: 3px solid rgb(7, 57, 120);
  border-radius: 10px;

  font-family: 'Roboto Slab';
  font-weight: normal;

  color: rgb(229, 229, 229);
  cursor: pointer;

  transition: 0.5s;
}

.contentContainer:hover{

  background-color: rgba(22, 22, 22, 0.8);

}


.contentContainer h3:hover{

  color: rgb(246, 189, 2);
  background-color: rgb(7, 57, 120);

}


@media screen and (max-width: 768px) {
   
  .logo{
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
  }

  .contentContainer{
    right: 50%;
    transform: translateX(50%);
    max-width: 98%;
    margin-top: 10px;
  }
 
}
